{% extends 'base.html' %}

{% block title %}
    {{ newsItem.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'layout/sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <h5 class="card-header">
        Категория: <a href="{{ newsItem.category_id.get_absolute_url }}">{{ newsItem.category_id }}</a>
    </h5>
    <div class="card-body">
        <div class="media">
            {% if new.photo %}
            <img class="mr-3" src="{{ newsItem.photo.url }}" width="350">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ newsItem.title }}</h5>
                <p class="card-text">{{ newsItem.content }}</p>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ newsItem.created_at|date:'Y-m-d H:i' }}
    </div>
</div>
{% endblock %}